.list-item {
    font-weight: bold;
    height: 40px;
    color: white;
    margin: 12px;
    padding: 10px 30px;
    display: flex;
    font-size: 20px;
    min-width: 300px;
    width: fit-content;
    position: relative;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.28);
    border: 5px solid rgba(255, 255, 255, 0.35);
  }
  .list-item img {
    width: 48px
  }